@{
    ViewData["Title"] = "Add a Task";
}
@model Mission08_Group2_3.Models.Task
<div class="container">
    <div class="row text-center">
        <div class="col-12"><h1 class="display-4">Add / Edit a Task</h1></div>
    </div>
    <div class="row" style="justify-content: center; display: flex">
        <div class="col-12">
            <!-- Form to create a task with button and post method-->
            <form method="post">
                <div class="form-group2">
                    <input asp-for="TaskId" hidden />
                </div>
                <div class="form-group2">
                    <label asp-for="TaskName">Task: </label>
                    <input asp-for="TaskName" type="text" required />
                </div>
                <div class="form-group2">
                    <label asp-for="DueDate">Due Date: </label>
                    <input asp-for="DueDate" type="text" />
                </div>
                <div class="form-group2">
                    <label asp-for="Quadrant">Quadrant: </label>
                    <input asp-for="Quadrant" type="number" required />
                </div>
                <div class="form-group2">
                    <label asp-for="CategoryId">Category: </label>
                    <select asp-for="CategoryId">
                        <option value="">Select a Category</option>
                        @foreach (Category c in ViewBag.Categories)
                        {
                            <option value="@c.CategoryId">@c.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group2">
                    <label asp-for="Completed">Completed? </label>
                    <select asp-for="Completed">
                        <option value="false">No</option>
                        <option value="true">Yes</option>
                    </select>
                </div>
                <!-- This will show the validation errors -->
                <div asp-validation-summary="All" style="font-style:italic; text-align: left; font-size: 12px; margin-top:20px;"></div>
                <button type="submit">Submit Task</button>
            </form>
        </div>
    </div>
</div>