@{
    ViewData["Title"] = "Confirmation";
}

@model Mission08_Group2_3.Models.Task

<div class="container">
    <div class="row">
        <div class="col"><h3>@Model.TaskName added to Quadrant @Model.Quadrant. Let's get to work!</h3></div>
    </div>
</div>