@{
    ViewData["Title"] = "Delete Task";
}


@model Mission08_Group2_3.Models.Task

@*Delete confirmation view: Sends back to QuadrantView if cancel button is pushed, otherwise deletes record and sends to Quadrant View *@
<div class="container">
    <div class="row">
        <div class="col-4"><h2>Deletion Confirmation</h2></div>
    </div>
    <div class="row">
        <div class="col-8"><h3>Are you sure you want to remove @Model.TaskName?</h3></div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post">
                <input type="hidden" asp-for="TaskId" />

                <button type="submit">Delete</button>
                <a class="btn btn-info" asp-controller="Home" asp-action="QuadrantView">Cancel</a>
            </form>
        </div>
    </div>
</div>