@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Welcome to Mission 8</h1>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6">
            <img src="~/water.jpg" style="max-width: 100%;" />
        </div>
        <div class="col-6 mb-3">
            @*Fun little paragraph to demonstrate our bootstrap grid*@
            Using Covey's four quadrants from "The 7 Habits of Highly Effective People" can really amp up productivity. It's like a cheat code for getting stuff done. Quadrant I covers the urgent and important stuff that needs your immediate attention. Quadrant II is where the magic happens – it's about important but not urgent tasks that help you grow and plan ahead. By focusing on these, you prevent fires before they even start. Quadrants III and IV are where you can cut some slack – they're either urgent but not important or neither urgent nor important. By sorting tasks into these quadrants, you can make better decisions about where to direct your energy and time, leading to more productivity and less stress.
        </div>
        <div class="col-2 mb-3">
            <p><a asp-controller="Home" asp-action="Add" class="button">Add your tasks here</a></p>
        </div>

        <div class="col-2 mb-3">
            <p><a asp-controller="Home" asp-action="QuadrantView" class="button">View all tasks</a></p>
        </div>
    </div>
</div>
