@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mission 8</h1>
    <p>Do you have tasks you need to get done? <a asp-controller="Home" asp-action="Add">Add them here</a></p>
    <p><a asp-controller="Home" asp-action="QuadrantView">View all tasks</a></p>
</div>
